@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */
  --light-silver: #d1d5db;
  --lotion: #fcfcfc;
  --sonic-silver: #7b7373;
  --green: #15a46d;
  --castleton-green: #075a39;
}
