@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */
  --light-silver: #d1d5db;
  --lotion: #fcfcfc;
  --anti-flash-white: #f1f1f1;
  --sonic-silver: #7b7373;
  --rhythm: #737791;
  --auro-metal: #6b7280;
  --dark-slate-gray: #3b505a;
  --bright-gray: #e5e7eb;
  --blanched-almond: #ffefcf;
  --cultured: #F5F5F5;
  --green: #15a46d;
  --magic-mint: #b9f9cf;
  --castleton-green: #075a39;
  --charleston-green: #282828;
  --chinese-black: #111111;
  --fire-opal: #eb5757;
  --philippine-green: #11843c;
  --pale-pink: #f7d4d6;
  --boston-university-red: #c50000;
  --windsor-tan: #ab570a;
  --rich-black: #020202;
  --raisin-black: #222222;
  --dark-liver: #4f4f4f;
  --independence: #4b5563;
}

input[type='checkbox'] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  border: 1px solid var(--light-silver);
  border-radius: 4px;
}

input[type='checkbox']::before {
  content: '';
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  clip-path: polygon(20% 50%, 40% 70%, 85% 15%, 100% 30%, 40% 90%, 10% 60%);
  transform: translate(-50%, -50%);
  background-color: var(--castleton-green);
}

input[type='checkbox']:checked::before {
  opacity: 1;
}
